In [ ]:
#Importing the libraries to be used
#
import pandas as pd
import numpy as np

In [ ]:
# Loading the autolib dataset to be used in this analysis
# 
df = pd.read_csv("http://bit.ly/autolib_dataset")
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [ ]:
#Accessing information about the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

### **Data Cleaning**

In [ ]:
# Irrelevant Data Observation
# Data Cleaning Action: Dropping geo point , displayed comment , and scheduled at attributes
# Explanation:No question to be answered requires this columns.
#
df.drop(["Geo point" , "Displayed comment" ,"Scheduled at"], axis = 1, inplace = True)
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 22 columns]


**Combining Month, Year and Day columns with Pandas apply() and then use lambda function to combine the three values in a row using join() function.**

- we specify the columns of interest (Month, Year and Day columns) in our dataframe and then use lambda function to combine the three values in a row using join() function.

In [ ]:
# we specify the columns of interest (Month, Year and Day columns) in our dataframe 
# and then use lambda function to combine the three values in a row using join() function.
#
cols=["year","month","day"]
df['date'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

In [ ]:
#convert the date column into datetime type using Pandas to_datetime() function as shown in the post
#
df['date']=pd.to_datetime(df['date'])

In [ ]:
# Convert both columns to strings, add separator and use to_datetime with format parameter:
time = (pd.to_datetime(df['hour'].astype(str) + ':' + df['minute'].astype(str), format='%H:%M')
          .dt.time)

In [ ]:
# Creating the time column
#
df['time'] = time
df

                                 Address  Cars  ...            date      time
0                    2 Avenue de Suffren     0  ...  2018-4-8-11-43  11:43:00
1              145 Rue Raymond Losserand     6  ...   2018-4-6-7-24  07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...  2018-4-3-20-14  20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...   2018-4-4-4-37  04:37:00
4     6 avenue de la Porte de Champerret     3  ...  2018-4-8-17-23  17:23:00
...                                  ...   ...  ...             ...       ...
4995                 8 avenue MÃ©nelotte     2  ...  2018-4-6-11-26  11:26:00
4996                   37 rue de Dantzig     4  ...  2018-4-4-16-56  16:56:00
4997                      142 rue du Bac     1  ...    2018-4-1-7-1  07:01:00
4998         2 avenue du Val de Fontenay     2  ...  2018-4-4-17-27  17:27:00
4999                 5 Rue Henry Brisson     4  ...   2018-4-8-10-2  10:02:00

[5000 rows x 24 columns]

In [ ]:
# Check if date column has been converted to date time format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  year                 5000 non-null   int64
 18  month                5000 non-null   int64
 19  day                  5000 non-null   int64
 20  hour                 5000 non-null   int64
 21  minute               5000 non-null   int64
 22  date                 5000 non-null   datetime64[ns]
 23  time                 5000 non-null   object
dtypes: datetime64[ns](1), int64(12), object(11)
memory usage: 937.6+ KB

**The time column is in object format because it can not be converted to datetime data type.**

In [ ]:
#Data type conversion
#Converting the month,day,year,time columns to date time and combining them
df['Date'] =pd.to_datetime(df[['year', 'month', 'day', 'hour', 'minute']])
df

                                 Address  Cars  ...      time                Date
0                    2 Avenue de Suffren     0  ...  11:43:00 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...  07:24:00 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...  20:14:00 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...  04:37:00 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...  17:23:00 2018-04-08 17:23:00
...                                  ...   ...  ...       ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...  11:26:00 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...  16:56:00 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...  07:01:00 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...  17:27:00 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...  10:02:00 2018-04-08 10:02:00

[5000 rows x 25 columns]

In [ ]:
#Dropping the minute,hour,day,month, and year columns now that we have a cobmined column
df.drop(["year" , "month" ,"day", "minute"], axis = 1, inplace = True)
df.head(10)

                              Address  Cars  ...      time                Date
0                 2 Avenue de Suffren     0  ...  11:43:00 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...  07:24:00 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...  20:14:00 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...  04:37:00 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...  17:23:00 2018-04-08 17:23:00
5                8 Boulevard Voltaire     0  ...  07:02:00 2018-04-06 07:02:00
6                      37 rue Leblanc     0  ...  18:20:00 2018-04-08 18:20:00
7         17 Rue des Luaps ProlongÃ©e     3  ...  22:13:00 2018-04-04 22:13:00
8               34 avenue Jean Moulin     1  ...  22:58:00 2018-04-02 22:58:00
9        41 boulevard de Rochechouart     6  ...  15:02:00 2018-04-04 15:02:00

[10 rows x 21 columns]

**Correcting spelling errors in Address and Public name colums from the dataset**

In [ ]:
# Syntax Errors -  Checking for syntax errors of leading or tailing white spaces in the dataset
#
df['Address'] = df['Address'].str.strip()
df['Address']

0                      2 Avenue de Suffren
1                145 Rue Raymond Losserand
2         2 Avenue John Fitzgerald Kennedy
3                   51 Rue EugÃ¨ne OudinÃ©
4       6 avenue de la Porte de Champerret
                       ...
4995                   8 avenue MÃ©nelotte
4996                     37 rue de Dantzig
4997                        142 rue du Bac
4998           2 avenue du Val de Fontenay
4999                   5 Rue Henry Brisson
Name: Address, Length: 5000, dtype: object

In [ ]:
# Removing ©- and ¨ then replacing "Ã" with "e"  the copyright sign from words in the address column
#
df['Address'] = df['Address'].str.replace("©","")
df['Address'] = df['Address'].str.replace("Ã","e")
df['Address'] = df['Address'].str.replace("¨","")
df['Address']

0                      2 Avenue de Suffren
1                145 Rue Raymond Losserand
2         2 Avenue John Fitzgerald Kennedy
3                     51 Rue Eugene Oudine
4       6 avenue de la Porte de Champerret
                       ...
4995                    8 avenue Menelotte
4996                     37 rue de Dantzig
4997                        142 rue du Bac
4998           2 avenue du Val de Fontenay
4999                   5 Rue Henry Brisson
Name: Address, Length: 5000, dtype: object

In [ ]:
# Syntax Errors -  Checking for syntax errors of leading or tailing white spaces in the dataset
#
df['Public name'] = df['Public name'].str.strip()
df['Public name']

0                            Paris/Suffren/2
1                Paris/Raymond Losserand/145
2       Le Bourget/John Fitzgerald Kennedy/2
3                   Paris/EugÃ¨ne OudinÃ©/51
4                Paris/Porte de Champerret/6
                        ...
4995                   Colombes/MÃ©nelotte/8
4996                        Paris/Dantzig/37
4997                           Paris/Bac/142
4998    Fontenay-Sous-Bois/Val de Fontenay/2
4999                   Paris/Henry Brisson/5
Name: Public name, Length: 5000, dtype: object

In [ ]:
# Removing ©- and ¨ then replacing "Ã" with "e"  the copyright sign from words in the address column
#
df['Public name'] = df['Public name'].str.replace("©","")
df['Public name'] = df['Public name'].str.replace("Ã","e")
df['Public name'] = df['Public name'].str.replace("¨","")
df['Public name'] = df['Public name'].str.replace("","")
df['Public name'] = df['Public name'].str.replace("»","")
df['Public name']

0                            Paris/Suffren/2
1                Paris/Raymond Losserand/145
2       Le Bourget/John Fitzgerald Kennedy/2
3                     Paris/Eugene Oudine/51
4                Paris/Porte de Champerret/6
                        ...
4995                    Colombes/Menelotte/8
4996                        Paris/Dantzig/37
4997                           Paris/Bac/142
4998    Fontenay-Sous-Bois/Val de Fontenay/2
4999                   Paris/Henry Brisson/5
Name: Public name, Length: 5000, dtype: object

**Checking for data completeness**

In [ ]:
#This involves checking for null values
df.isnull()

# Checking if there is any missing value across each column
df.isnull().any()


# Doing a quick check to see if we have any missing values at all

print(df.isnull().values.any())

#There are no missing values in the data set

False

**Consistency**

In [ ]:
#Checking for duplicates in the dataset
print(df)
df_non_duplicates = df.drop_duplicates()
print(df_non_duplicates)

#There are no duplicates in the dataset

                                 Address  Cars  ...      time                Date
0                    2 Avenue de Suffren     0  ...  11:43:00 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...  07:24:00 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...  20:14:00 2018-04-03 20:14:00
3                   51 Rue Eugene Oudine     3  ...  04:37:00 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...  17:23:00 2018-04-08 17:23:00
...                                  ...   ...  ...       ...                 ...
4995                  8 avenue Menelotte     2  ...  11:26:00 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...  16:56:00 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...  07:01:00 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...  17:27:00 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...  10:02:00 2018-04-08 10:02:00

[5000 rows x 21 columns]
                                 Address  Cars  ...      time                Date
0                    2 Avenue de Suffren     0  ...  11:43:00 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...  07:24:00 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...  20:14:00 2018-04-03 20:14:00
3                   51 Rue Eugene Oudine     3  ...  04:37:00 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...  17:23:00 2018-04-08 17:23:00
...                                  ...   ...  ...       ...                 ...
4995                  8 avenue Menelotte     2  ...  11:26:00 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...  16:56:00 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...  07:01:00 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...  17:27:00 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...  10:02:00 2018-04-08 10:02:00

[5000 rows x 21 columns]

**Analysis**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  hour                 5000 non-null   int64
 18  date                 5000 non-null   datetime64[ns]
 19  time                 5000 non-null   object
 20  Date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(8), object(11)
memory usage: 820.4+ KB

In [ ]:
#Most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#To compute usage, we will need to understand that we have to join successive (in time) measures/counters 
#for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.
#x=df['Date'].groupby(df['PublicName'])
#x.sum()
#most_populated=df.groupby(['PublicName']).sum().sort_values('Total' , ascending=0).head(5)
# 
y=df[(df['City']== 'Paris')]
grouped = y.groupby('hour')
grouped = y.groupby('Public name')
grouped = y.groupby('Date', axis='columns')
grouped = y.groupby(['hour', 'Public name', 'Date' , 'Bluecar counter'])
grouped['Bluecar counter'].sum()

hour  Public name               Date                 Bluecar counter
0     Paris/Adolphe Mille/8     2018-04-09 00:33:00  0                  0
                                2018-04-09 00:56:00  1                  1
      Paris/Alexandrie/7        2018-04-06 00:53:00  0                  0
      Paris/Anvers/Parking      2018-04-03 00:49:00  4                  4
      Paris/Armand Carrel/46    2018-04-04 00:08:00  3                  3
                                                                       ..
23    Paris/Vulpian/24          2018-04-09 23:32:00  2                  2
      Paris/emile Deschanel/15  2018-04-04 23:27:00  2                  2
      Paris/emile Duclaux/19    2018-04-04 23:36:00  1                  1
      Paris/emile Laurent/1     2018-04-07 23:16:00  3                  3
      Paris/etienne Marcel/36   2018-04-08 23:45:00  0                  0
Name: Bluecar counter, Length: 2816, dtype: int64

In [ ]:
#Most popular station overall
df['Public name'].value_counts()

Paris/Porte de Montrouge/8     13
Paris/Mathis/35                11
Paris/Philippe Auguste/126     11
Paris/Courcelles/69            11
Paris/Voltaire/182             11
                               ..
Courbevoie/Sebastopol/4         1
Meudon/Jeanne Braconnier/3      1
Paris/Sorbier/40                1
Paris/Custine/45                1
Yerres/Raymond Poincare/200     1
Name: Public name, Length: 1105, dtype: int64

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#df['BlueCarCounter'].groupby(df['PostalCode']).value_counts()
df['Postal code'].value_counts()
#df['BlueCarCounter']
y=df.groupby(['Postal code'])['Bluecar counter'].count()
y.sort_values(ascending=False)
#Most popular code is 75015
df.loc[(df['Public name'] == 'Paris/Porte de Montrouge/8') ,['Postal code']].head(1)
#Most popular station does not belong to the most popular code

     Postal code
122        75014

In [ ]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
y=df.groupby(['Postal code'])['Utilib 1.4 counter'].count()
y.sort_values(ascending=False)
#No result does not change
y=df.groupby(['Postal code'])['Utilib counter'].count()
y.sort_values(ascending=False)

Postal code
75015    274
75016    236
75017    221
75011    180
75020    169
        ...
75116      5
91400      4
93310      4
92110      4
94100      2
Name: Utilib counter, Length: 107, dtype: int64